<div class="container questions">
  <h2>Welcome {{capitalize name}}</h2>
</div>
<div class="container instruction">
  <p><b>INSTRUCTION</b> <br><br>
    Description: This quiz is just to test your understanding on statistics <br><br>
    Information: This is a quiz for Advance level <br><br>
    Instruction:
    <ul>
      <li>This quiz is a multiple choice questions</li>
      <li>You can choose only one answer</li>
      <li>The quiz need to be done in one sitting</li>
      <li>You need to have a stable internet connect to perform the quiz</li>
    </ul>
  </p>
</div>
<div class="container instruction">
  <h2>Quiz</h2>
  <div id="quiz"></div>
  <a href=""><button type="button" id="check">Submit</button></a>
  <div id="results"></div>
</div>  
<div id="name" data-name="{{name}}"></div>
<meta name="user-id" content="{{userID}}">
<script src="/js/advance.js"></script>